
/* Styling */



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}



.header {
  background-color: #52ae74; 
  color: #333; 
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 2rem;
}



.articles-section {
  background-color: #f0f0f0; 
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 2rem;
}



.article-list {
  list-style: none;
  padding: 0;
}

.article-list li {
  color: #000 !important; 
  text-decoration: none !important; 
  font-family: 'Roboto', sans-serif; 
  font-size: 1rem; 
}

.article-list li:visited {
  color: #800080 !important; 
}



.article-item {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-item h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.article-item p {
  font-size: 1rem;
  color: #555;
}

.article-item:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
}



.article-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}



.comments-section {
  margin-top: 2rem;
}

.comments-section h3 {
  cursor: pointer;
}



.comment {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, background-color 0.2s;
}

.comment:hover {
  transform: translateY(-2px);
  background-color: #f1f1f1;
}

.comment p {
  margin: 0.5rem 0;
}

.comment strong {
  font-size: 1rem;
  color: #52ae74;
}

.comment-date {
  font-size: 0.875rem;
  color: #777;
  margin-top: 0.25rem;
}

.comment-body {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  margin-top: 0.5rem;
}



/* Media Queries */



@media (max-width: 1024px) {
  #root {
    padding: 1rem;
  }
  
  .header, .articles-section {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }
  
  .header, .articles-section {
    padding: 0.5rem;
  }
  
  .article-list li {
    padding: 0.25rem 0;
  }
  
  .article-item {
    padding: 10px; 
    margin: 10px 0;
  }
  
  .article-item h3 {
    font-size: 1rem; 
  }
  
  .article-item p {
    font-size: 0.875rem; 
  }
}


@media (max-width: 480px) {
  .header h1 {
    font-size: 1.25rem; 
  }
  
  .articles-section h2 {
    font-size: 1rem; 
  }
  
  .article-item h3 {
    font-size: 0.875rem; 
  }
}




